
<div class="container">
  <div class="row">
    <div class="col-lg-3">
    <%=form_with model:Book.new, local:true do |f| %>

    <h2>User info</h2>

    <%= image_tag @user.get_profile_image("63x63") %>

    <table class="table">
     <tbody>
      <tr>name</tr>
      <tr><%= @user.name %></tr>
     </tbody>
    </table>

    <table class="table">
     <tbody>
      <tr>introduction</tr>
      <tr><%= @user.introduction %></tr>
     </tbody>
    </table>

    <div class="row">
     <% if @user.id == current_user.id %>
      <%= link_to edit_user_path(current_user), class:'btn btn-ouyline-secondary btn-block' do %>
      <i class="fas fa-user-cog"></i>
      <% end %>
     <% end %>
    </div>


    <h2>New book</h2>

    <% if @book.errors.any? %>
     <%= @book.errors.count %>件のエラーが発生しました
     <ul>
      <% @book.errors.full_messages.each do |message| %>
       <li><%= message %></li>
      <% end %>
     </ul>
    <% end %>

     <div class="form-group">
      <label for="book_title">Title</label>
      <%= f.text_field :title %>
     </div>

     <div class="form-group">
      <label for="book_opnion">Opnion</label>
      <%= f.text_area :body %>
     </div>
     <div class="form-group">
      <%= f.submit 'Create Book', class:"btn btn-success" %>
     </div>
    </div>



    <div class="col-lg-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-hover table-inverse">
       <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opnion</th>
        </tr>
       </thead>
      <tbody>
      <% @books.each do |book| %>
        <tr>
          <th><%= image_tag @user.get_profile_image("40x40") %></th>
          <th><%= link_to book.title, book_path(book) %></th>
          <th><%= book.body %></th>
        </tr>
      <% end %>
      </tbody>
      </table>

    </div>
    <% end %>

  </div>
</div>